@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    background: #ecf0f1;
}

header{
    align-items: center;
    display: flex;  
    justify-content: center;
    
}
.logo{

    font-family: Roboto;
    color: #006266;
    font-size: 72px;
    transition: transform 0.8s;
    border-bottom: 3px solid #006266 ;
    
}
.logo:hover{

    transform: scale(1.3);

}
.menu{
    margin-top: 50px;    
    align-items: center;
    display: flex;  
    justify-content: center;
}
.frame{
    align-items: center;
    display: flex;  
    justify-content: center;  
}
